* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111;
  padding: 20px;
}

.sidebar h2 {
  color: #ff9800;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover,
.sidebar .active {
  background: #222;
  color: #ff9800;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}

.card h3 {
  font-style: italic;
  color: #aaa;
}

.number {
  font-size: 28px;
  font-weight: bold;
  color: #00e676;
}

/* CHART */
.chart-box {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}
.vehicle-section {
  margin-top: 50px;
}

.vehicle-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #111;
}

.vehicle-table th,
.vehicle-table td {
  padding: 12px;
  border-bottom: 1px solid #222;
  text-align: left;
}

.vehicle-table th {
  color: #ff9800;
  font-weight: bold;
}

.vehicle-table tr:hover {
  background: #1a1a1a;
}

/* STATUS */
.status.active {
  color: #00e676;
  font-weight: bold;
}

.status.inactive {
  color: #f44336;
  font-weight: bold;
}

/* EXPIRY */
.expiry.safe {
  color: #00e676;
}

.expiry.warning {
  color: #ff9800;
  font-weight: bold;
}

.expiry.danger {
  color: #f44336;
  font-weight: bold;
}
.vehicle-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.summary-card {
  background: #111;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.summary-card p {
  color: #aaa;
  font-style: italic;
}

.summary-card h3 {
  font-size: 26px;
  margin-top: 5px;
  color: #00e676;
}

.summary-card.warning h3 {
  color: #ff9800;
}

.summary-card.danger h3 {
  color: #f44336;
}
